
fastapi
uvicorn
python-dotenv
openai
chromadb
sentence-transformers
python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==4.1.2
psycopg2-binary
SQLAlchemy
alembic
redis
aioredis
pydantic-settings
httpx
loguru
python-multipart
python-docx
PyPDF2
azure-storage-blob
azure-identity
openai>=1.40.0
